.container-destinos{
    background-color:  white;
    display: flex ;
    gap: 20px; 
    
}

 img{
width: 300px;
height: 200px;
border-radius: 10px;
 }

 #fonte {
    font-size: large;
    text-align: center;
 }
#tamanho{
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}
#tamanho1{
    text-align: center;
    font-size: small;
}

@media (max-width: 1200px) {
    .roteiros-viagens {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .roteiros-viagens {
      width: calc(100% - 20px);
    }
}

.roteiros-viagens{

    border: 25px solid plum;
    background-color:plum;
    border-radius: 10px;
}
.roteiro-destino{

    font-size: larger;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    color:purple;
    text-transform: uppercase;
}
.roteiro-incluso{

    font-family: 'Inter', sans-serif;
    font-size:medium;
    color:purple;
    
}
.roteiros-viagens {

    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:purple
    
}
ul {
    color: #4f084b;
    list-style: none;
    font-family: 'Roboto', sans-serif;
  }
  
  ul li:before {
    font-weight: bolder;
    content: '✓';
  }
  .roteiro-comprar{
    
    font-size: larger;
    border-radius: 5px;
    color:white;
    background-color: green;
    margin-top: 10px;

  }
 
